<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.youqu8.humor.demo.mybatis.dao.UserMapper">
    <select id="select" resultType="cc.youqu8.humor.demo.mybatis.domain.User">
        select * from tuser where id = #{id}
    </select>
</mapper>